button {
  display: inline-block;
  height: 88px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  width: 104px;
  background-size: 100%;
}

.modal {
  text-align: center
}

.button-vimeo {
  background-image: url('../images/Vimeo.png');
}

.button-flickr {
  background-image: url('../images/flickr-logo.jpg');
}